@import "vendor/bootstrap/bootstrap/variables";
@import "variables";
@import "typography";
@import "mixins/ie10-and-up";
@import "vendor/select2";
@import "components/select2";
@import "components/asset-hero";
@import "components/animations";
@import "utility-classes";

// TODO Should this be moved into a shared CSS?
.intro {
  margin: 40px 0 80px;
  font-size: 18px;
  text-align: center;
}

.resources-filter {
  margin-bottom: #{80px - $filter-spacing};
  text-align: center;

  select {
    display: inline-block;
    width: 244px;
    margin: 0 16px;
    border: 1px solid $border-color;
    border-radius: 3px;
    background: $color-white;
    font-size: 18px;
  }
}

$lt-h-margin: 15px;

.resource-tile-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0 (0 - $lt-h-margin);
}

.resource-tile {
  flex: 0 0 calc(33.3% - #{2 * $lt-h-margin});
  min-height: 372px;
  margin: 0 $lt-h-margin #{2 * $lt-h-margin};
  padding: 20px;

  @media (max-width: $screen-sm-max) {
    flex: 0 0 calc(50% - #{2 * $lt-h-margin});
  }

  @media (max-width: $screen-xs-max) {
    flex: 0 0 calc(100% - #{2 * $lt-h-margin});
    min-height: 0;
  }

  @include ie10-and-up {
    flex-basis: 27%;
    justify-content: space-between;

    @media (max-width: $screen-md-max) {
      flex-basis: 25%;
    }

    @media (max-width: $screen-sm-max) {
      flex-basis: 40%;
    }

    @media (max-width: $screen-xs-max) {
      flex-basis: 90%;
    }
  }

  &:hover {
    text-decoration: none;
  }
}

.resource-tile-image {
  margin-bottom: $spacing-unit-xs;
  text-align: center;
}

.resource-tile-title {
  @include font-weight-semibold;
  margin-top: 10px;
  color: $color-black;
  font-size: 22px;
  line-height: 1.3;
}

.resource-tile-type {
  display: block;
  margin-bottom: 20px;
  color: $blueish-gray;
  text-transform: uppercase;
}

.resource-tile-teaser {
  margin-bottom: 20px;
  color: $color-gray;
  font-size: 18px;
}

.resources-no-results-msg {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
